{% extends 'SqueletteView.twig' %}
{% block content %}
    <center><h1>Page d'accueil</h1></center>
    <center><p>Bienvenue {{ estConnecte['prenom'] }} sur GiftBox</p></center>
    <center><p>Vous pouvez dès à présent vous connecter ou vous inscrire</p></center>
    <center><p>Vous pouvez également consulter les différentes box</p></center>

{# Paragraphe d'explication du site GiftBox #}
    <center><p>
        GiftBox est un site de vente de box cadeaux.
        <br>
        Vous pouvez acheter des box pour vous ou pour offrir.
        <br>
        Vous pouvez également créer votre propre box.
        <br>
        Vous pouvez également consulter les box déjà existantes.
    </p>
    </center>
{% endblock %}