<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ajouter une catégorie</title>
    </head>
    <body>
        <center><h1>Ajouter une catégorie</h1></center>
        <br>
        <form action="/categories/add" method="post">
            <label for="libelle">Libelle</label>
            <input type="text" name="libelle" id="libelle">
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            <br>
            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>