{% extends "SqueletteView.twig" %}
{% block content %}
    <body>
    <div class="container">
        <h1 class="heading">Coffret</h1>
        <ul class="box-list">
            {% for box in list_box %}
                <li>
                    <a href="{{ url_for('box_by_id', { 'id': box.id } ) }}">{{ box['libelle'] }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="add-button">
            <a href="{{ url_for('add_box_get') }}">
                <button>Ajouter un coffret</button>
            </a>
        </div>
    </div>
    </body>
{% endblock %}
