{% extends "SqueletteView.twig" %}
{% block content %}
    <body>
    <div class="container">
        <h1 class="heading">Coffret Prédéfinit</h1>
        {% if connected == true %}
            <a href="{{ url_for('box_perso') }}">
                <button>Mes Coffrets</button>
            </a>
        {% endif %}
        <ul class="box-list">
            {% for box in list_box %}
                <li>
                    <a href="{{ url_for('box_by_id', { 'id': box.id } ) }}">{{ box['libelle'] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </body>
{% endblock %}
