{% extends "SqueletteView.twig" %}
{% block content %}
    <body>
        <center><h1>Coffret</h1></center>
        <ul>
            {% for box in list_box %}
                <li><a href="{{ url_for('box_by_id', { 'id':box.id} ) }}">{{ box['libelle'] }}</a></li>
                <br>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_box_get') }}"><button>Ajouter un coffret</button></a>
    </body>
{% endblock %}