{% extends 'SqueletteView.twig' %}
{% block content %}
    <body >
    <div class="container">
        <h1 class="heading">Catégories</h1>
        <ul class="box-list">
            {% for categorie in list_categ %}
                <li>
                    <a href="{{ url_for('categorie_by_id', { 'id':categorie.id } ) }}">{{ categorie['libelle'] }}</a>
                </li>
            {% endfor %}
        </ul>
        <a class="add-category-button" href="{{ url_for('add_categorie_get') }}"><button>Ajouter une catégorie</button></a>
    </div>
    </body>
{% endblock %}
