{% extends 'SqueletteView.twig' %}
{% block content %}
    <body class="body-container">
    <div class="container">
        <h1 class="heading">{{ categories.libelle }}</h1>
        <div class="back-button">
            <a href="{{ url_for('categories') }}"><button>Retour</button></a>
        </div>
        <p class="description">Description: {{ categories.description }}</p>
        <h2 class="prestations-heading"><a href="{{ url_for('prestations_by_categorie', { 'id': categories.id } ) }}">Prestations</a></h2>
    </div>
    </body>
{% endblock %}
