<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégories</title>
    </head>
    <body>
        <center><h1>Catégories</h1></center>
        <br>
        <a href="/"><button>Accueil</button></a>
        <br>
        <ul>
            {% for categorie in list_categ %}
                <li><a href="{{ url_for('categorie_by_id', { 'id':categorie.id} ) }}">{{ categorie['libelle'] }}</a></li>
                <br>
            {% endfor %}
        </ul>
        <br>
        <a href="{{ url_for('add_categorie_get') }}"><button>Ajouter une catégorie</button></a>
    </body>
</html>