<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégorie</title>
    </head>
    <body>
        <center><h1>{{categories['libelle']}}</h1></center>
        <br>
        <p>Description : {$categories['description']}</p>
        <br>
        <h2><a href="/categories/{{categories.id}}/prestations">Prestations</a></h2>
    </body>
</html>