<html lang="fr">
    <head>
        <title>Categorie (f id )</title>
    </head>
    <body>
        <h1>la Catégorie (f id ))</h1>
            <h2>[[ libelle ))</h2>
            <h2>[f description ])</h2>
            <h3><a href="{{url_prestations }}">Voir les prestations</a></h3>
    </body>
</html>