<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégorie</title>
    </head>
    <body>
        <center><h1>{{categorie.libelle}}</h1></center>
        <br>
        <a href="/"><button>Accueil</button></a>
        <br>
        <br>
        <a href="{{ url_for('categories') }}"><button>Retour</button></a>
        <br>
        <p>Description : {{categorie.description}}</p>
        <br>
        <h2><a href="{{ url_for('prestations_by_categorie', { 'id': categorie.id } ) }}">Prestations</a></h2>
    </body>
</html>