<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégorie</title>
    </head>
    <body>
        <center><h1>{{categorie.libelle}}</h1></center>
        <br>
        <p>Description : {{categorie.description}}</p>
        <br>
        <h2><a href="/categories/{{categorie.id}}/prestations">Prestations</a></h2>
    </body>
</html>