{% extends 'SqueletteView.twig' %}
{% block content %}
    <div class="container">
        <center><h1 class="head">Connexion</h1></center>
            <form class="gift_form" method="post" action="{{ url_for('connexion_post') }}">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required placeholder="email">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required placeholder="password">

                <input type="submit" value="Connexion">
            </form>
    </div>
{% endblock %}