<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site</title>
    </head>
<body>
<header>
    <nav>
        <ul>
            <li class="header-button"><a href="{{ url_for('accueil') }}">Accueil</a></li>
            <li class="header-button"><a href="{{ url_for('categories') }}">Catégories</a></li>
            <li class="header-button"><a href="{{ url_for('box') }}">Coffret</a></li>
            <li class="header-button"   ><a href="{{ url_for('prestations') }}">Prestation</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
