<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site</title>
    </head>
<body>
<header>
    <h1>GiftBox</h1>
    <div class="logo">
        <img src="img/connexion.png" alt="logo">
    </div>
</header>
</body>
</html>
