<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégorie</title>
    </head>
    <body>
        <center><h1>{$categorie['libelle']}</h1></center>
        <br>
        {% for presta in prestations %}
        <br>
        <li><a href="/prestations/{$presta['id']}"> {$presta['libelle']}</a></li>
    </body>
</html>
