{% extends "SqueletteView.twig" %}
{% block content %}
    <body>
        <center><h1>Prestation</h1></center>
        <ul>
            {% for prestation in list_presta %}
                <li><a href="{{ url_for('prestation_by_id', { 'id':prestation.id} ) }}">{{ prestation['libelle'] }}</a></li>
                <br>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_prestation_get') }}"><button>Créer une nouvelle prestation</button></a>
        <br>
        <br>
    </body>
{% endblock %}