<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GiftBox</title>
    <style>
        body {
            margin: 0;
        }

        div {
            margin-bottom: 100px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        {% include '/HeaderView.twig' %}
    </header>

    <div>
        {% block content %} {% endblock %}
    </div>

    <footer>
        {% include '/FooterView.twig' %}
    </footer>
</body>
</html>