<!DOCTYPE html>
<html>
<head>
    <title>GiftBox</title>
</head>
<body>
    <header>
        {% include '/HeaderView.twig' %}
    </header>

        {% block content %} {% endblock %}

    <footer>
        {% include '/FooterView.twig' %}
    </footer>
</body>
</html>