<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GiftBox</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        {% include '/HeaderView.twig' %}
    </header>

        {% block content %} {% endblock %}

    <footer>
        {% include '/FooterView.twig' %}
    </footer>
</body>
</html>