body {
    font-family: Arial, sans-serif;
    margin: 0;
}

footer {
    width: 100vw;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-button {
    position: relative; /* Permet de positionner le pseudo-élément par rapport à ce conteneur */
}

.header-button:not(:last-child)::after {
    content: "|"; /* Contenu visuel de la séparation */
    position: absolute; /* Positionne le pseudo-élément par rapport au conteneur */
    top: 50%; /* Position verticale au milieu du bouton */
    right: -10px; /* Ajuste la position horizontale de la séparation */
    transform: translateY(-50%); /* Centre la séparation verticalement */
    font-size: 25px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-size: larger;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

div {
    margin-bottom: 100px;
    padding: 20px;
}
